.menu-mobile {
  min-width: 320px;
  background: #1c1d1f;
  position: fixed;
  inset: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s linear, opacity .3s linear;

  &_type_menu {
    bottom: 0;
  }  

  &_opened {
    display: flex;
    flex-direction: column;
    padding: 18px 16px 16px;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s linear, opacity .3s linear;
    box-sizing: border-box;
  }

  &__box {
    margin-bottom: 10px;
  }

  &__box-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__button-close {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url(../../images/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c1d1f;
    height: 30px;
    width: 30px;
    padding: 0;
    transition: transform 500ms ease 0s;
    border: 0;

    &:hover {
      transform: rotate(360deg);
    }
  }
}