.lead {
max-width: 1343px;
min-height: 448px;
background-image: url(../../image/img-main.png);
  background-repeat: no-repeat;
background-position: cover;

background-size: 100%;
display: flex;
align-items: center;
position: relative;

}

.lead__img {
  background-image: url(../../image/img-main.png);
  background-repeat: no-repeat;
background-position: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lead__title {
  font-family: 'Philosopher';
  font-weight: 700;
  font-size: /*calc(448px * 100% / 100vh)*/ 65px;
  line-height: 102.5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin: 0;
  max-width: 300px;
  padding-left: 10%
}

.lead__description {

}

@media screen and (max-width: 1343px) {

  .lead {
    min-height: 350px;
  }

  .lead__title {
    font-size:  55px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    min-height: 300px;
  }
}
