.genres {
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center;
    border: 1px solid #2B2B2B;
    border-radius: 5px;
    width: 100%;
    outline: solid 1px rgba(255, 255, 255, 0.2);
    outline-offset: -20px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
  }

  &__box {
    &:hover {
      transform: scale(1.07);
      transition: transform 0.4s ease-in-out;
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    }

    &_type_two {
      max-width: 657px;
      height: 448px;
    }

    &_type_three {
      max-width: 427px;
      height: 355px;
    }

    &_genre_fighters {
      margin-bottom: 30px;
      max-width: 1343px;
      height: 446px;
      background-image: url(../../../image/genre-fighters.png);

      &:hover {
        transform: scale(1.01);
      }
    }

    &_genre_military {
      background-image: url(../../../image/genre-military.png);
    }

    &_genre_detectives {
      background-image: url(../../../image/genre-detectives.png);
    }

    &_genre_childish {
      background-image: url(../../../image/genre-childish.png);
    }

    &_genre_dramas {
      background-image: url(../../../image/genre-dramas.png);
    }

    &_genre_comedies {
      background-image: url(../../../image/genre-comedies.png);
    }

    &_genre_crime {
      background-image: url(../../../image/genre-crime.png);
    }

    &_genre_melodramas {
      background-image: url(../../../image/genre-melodramas.png);
    }

    &_genre_thrillers {
      background-image: url(../../../image/genre-thrillers.png);
    }

    &_genre_horrors {
      background-image: url(../../../image/genre-horrors.png);
    }

    &_genre_fantastic {
      background-image: url(../../../image/genre-fantastic.png);
    }

    &_genre_fantasy {
      background-image: url(../../../image/genre-fantasy.png);
    }
  }

  &__container-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__title {
    margin: 0;
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  }

  &__container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 1023px) {
  .genres {
    &__box {
      &_genre_fighters {
        height: 350px;
      }

      &_type_two {
        height: 350px;
      }

      &_type_three {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .genres {
    &__box {
      outline-offset: -10px;

      &_genre_fighters {
        height: 250px;
      }

      &_type_two {
        height: 170px;
      }
    }

    &__title {
      font-size: 18px;
      line-height: 20px;
    }

    &__container-three {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media screen and (max-width: 424px) {
  .genres {
    align-items: center;

    &__box {
      width: 290px;
      height: 155px;
      outline-offset: -5px;

      &_genre_fighters:hover {
        transform: scale(1.07);
      }
    }

    &__container-two {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 20px;
    }

    &__container-three {
      grid-template-columns: 1fr;
    }
  }
}