@import '../../styles/variables.scss';

.button-burger {
    display: none;
    background-image: url(../../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-primary;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    border: 0;
    padding: 0;
}

@media screen and (max-width: $breakpoint-md) {
    .button-burger {
        display: block;
    }
}