.button-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #81BECB;
    border: 0;
    background: rgba(28, 29, 31, 0.5);
    text-align: end;
    margin-top: 20px;
    padding: 0;
    text-decoration-line: underline;
    cursor: pointer;
}