.popup {
  min-width: 320px;
  background: #1c1d1f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s linear, opacity .3s linear;
}

.popup_type_menu {
  bottom: 0;
}

.popup_type_search {
  min-height: 165px;
}

.popup_opened {
  display: flex;
  flex-direction: column;
  padding: 18px 5% 15px;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear, opacity .3s linear;
  box-sizing: border-box;
}

.popup__box {
  margin-bottom: 10px;
}

.popup__box-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.popup__button-close {
  display: flex;
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url(../../image/icon-close-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1c1d1f;
  height: 30px;
  width: 30px;
  padding: 0;
  transition: transform 500ms ease 0s;
  border: 0;
}

.popup__button-close:hover {
  transform: rotate(360deg);
}
