$color-primary: #81BECB;
$color-secondary: #0B8240;
$color-error: #EE3465;
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #2B2B2B;
$color-orange: #E16001;
$color-yellow: #D59F31;

$colot-light-text: #A8A8A8;

$color-primary-hover: #c1f1fc;

$background-main: #1c1d1f;
$background: rgba(28, 29, 31, 0.5);
$box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
$border-color: #323232;

$breakpoint-xxl: 1600px;
$breakpoint-xl: 1400px;
$breakpoint-lg: 1023px;
$breakpoint-md: 767px;
$breakpoint-sm: 424px;
$breakpoint-xs: 373px;

$container-max-width: 1560px;