.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  max-width: 1343px;
  width: 100%;
  min-height: 650px;
  padding-bottom: 100px;
}

