.movie {
  width: 245px;
  cursor: pointer;
  list-style: none;

  &_location_movies-list {
    margin: 0;
    padding: 0 10px 20px;
  }

  &__box {
    border: 1px solid #2B2B2B;
    filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.14));
    border-radius: 5px;
    width: 245px;
    height: 381px;
    position: relative;
    /* overflow: hidden;*/
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.04);
      transition: transform 0.5s ease-in-out;
    }
  }

  &__container {
    position: absolute;
    top: 10px;
    left: 0;
  }

  &__box-rating {
    display: flex;
    margin-bottom: 10px;

    &:nth-child(2n) {
      margin-bottom: 0;
    }
  }

  &__rating-icon {
    display: block;
    background-size: 34pxpx;
    width: 34px;
    height: 34px;

    &_bg_orange {
      background-image: url(../../image//icon-kinopoisk.svg);
    }

    &_bg_yellow {
      background-image: url(../../image/icon-imdb.svg);
    }
  }

  &__rating-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 34px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    &_bg_orange {
      background: #E16001;
    }

    &_bg_yellow {
      background: #D59F31;
    }
  }

  &__title {
    margin: 15px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 1023px) {
  .movie {
    width: 200px;

    &__box {
      width: 200px;
      height: 310px;
    }

    &__rating-icon {
      width: 21px;
      height: 21px;
      background-size: 21px;
    }

    &__rating-mark {
      width: 22px;
      height: 21px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

@media screen and (max-width: 767px) {
  .movie {
    width: 124px;

    &__box {
      width: 124px;
      height: 195px;
    }

    &__title {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }

    &_description {
      font-size: 12px;
      line-height: 16px;
    }
  }
}