.movie {
  margin-right: 30px;
  cursor: pointer;
  list-style: none;
}

.movie__box {}

.movie__img {
  width: 245px;
  height: 381px;
  object-fit: contain;
  border: 1px solid #2B2B2B;
  filter: drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.14));
  border-radius: 5px;
}

.movie__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.movie__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
