.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 165px;
}

.logo_type_footer {}

.logo_type_popup {
  display: none;
}

.logo__img {
  width: 152px;
  height: 72px;
  cursor: pointer;
}

.logo__img_type_popup {
  width: 68px;
  height: 32px;
}

.logo__slogan {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #81BECB;
  margin: 10px 0;
}

.logo__slogan_type_footer {
  margin-bottom: 0;
}

.logo__slogan_type_popup {
  display: none;
}

@media screen and (max-width: 1023px) {
  .logo__img_type_header {
    width: 100px;
    height: 52px;
  }

  .logo__slogan_type_header {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo__img {
    width: 68px;
    height: 32px;
  }

  .logo__img_type_footer {
    width: 147px;
    height: 65px;
  }

  .logo_type_popup {
    display: flex;
  }
}
