.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 165px;
  width: 100%;
}

.logo__img {
  width: 152px;
  height: 72px;
}

.logo__slogan {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #81BECB;
  margin: 10px 0 0;
}

@media screen and (max-width: 767px) {
  .logo__img {
    width: 68px;
    height: 32px;
  }
}
