.navigation {
  min-width: 500px;
  margin: 0 0;
}

.navigation__box {
  display: none;
}

.button-burger {
  display: none;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  margin-right: 10px;
}

.navigation__link:last-of-type(5) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .navigation {
    /*background: #1c1d1f;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s linear, opacity .5s linear;
    z-index: 20;
    min-width: 320px;*/
    position: relative;
    z-index: 22;
  }

  .navigation_type_header {
    display: none;

  }
  .navigation_type_popup {
display: block;
  }

  .navigation__box {
    display: flex;
    justify-content: space-between;
  }

  .navigation__box-link {
    margin-top: 15px;
  }

  .navigation_opened {
    /*visibility: visible;
    opacity: 1;
    transition: visibility .5s linear, opacity .5s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 5% 15px;
    box-sizing: border-box;*/
  }

  .button-burger {
    display: block;
    background-image: url(../../image/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #81BECB;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    border: 0;
    padding: 0;
  }

  .navigation__list_type_popup {
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #8b8b8b;
    border-bottom: 1px solid #8b8b8b;
    padding-top: 20px;
    justify-content: start;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.7%;
  }

  /*.navigation__button-close {
    display: flex;
    background-image: url(../../image/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1c1d1f;
    height: 30px;
    width: 30px;
    padding: 0;
    position: absolute;
    top: 22px;
    right: 22px;
    transition: transform 500ms ease 0s;
    border: 0;
  }

  .navigation__button-close:hover {
    transform: rotate(360deg);
  }*/
}
