.navigation {
  min-width: 500px;
  margin: 0 0;
  box-sizing: border-box;
}

.navigation__box {
  display: none;
}

.button-burger {
  display: none;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

.link-menu {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

.link-menu:hover {
  color: #81BECB;
}


.link-menu_active {
  color: #81BECB;
}

.link-menu:last-of-type(5) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .navigation {
    position: relative;
    z-index: 22;
    min-width: calc(320px - 10%);
  }

  .navigation_type_header {
    display: none;
  }

  .navigation_type_popup {
    display: block;
  }

  .navigation__box {
    display: flex;
    justify-content: space-between;
  }

  .navigation__box-link {
    margin-top: 15px;
  }

  .button-burger {
    display: block;
    background-image: url(../../image/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #81BECB;
    border-radius: 5px;
    width: 28px;
    height: 28px;
    border: 0;
    padding: 0;
  }

  .navigation__list_type_popup {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-top: 1px solid #8b8b8b;
  }

  .link-menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.7%;
  }

  .navigation__list {
    margin-left: 0;
    margin-right: 0;
  }
}
