.scroll {  
    overflow: auto;     
   // padding-right: 10px; //отступ скролла от содержимого слева
   //два свойства ниже для браузера firefox
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}

.scroll::-webkit-scrollbar {
    width: 4px; //ширина скролла  
    height: 4px;    
}

.scroll::-webkit-scrollbar-thumb {
    background: #000; //цвет  скролла     
    border-radius: 10px;    
}

.scroll::-webkit-scrollbar-track {
    background: #fff; //цвет бокса скролла    
    background-clip: content-box;
    border-radius: 10px;    
    margin-top: 5px; // отступ вверху скролла от контейнера
    margin-bottom: 5px; // отступ внизу скролла от контейнера  
}

.scroll::-webkit-scrollbar-button{
    padding: 10px;
    display: none;
}
