@import '../../styles/variables.scss';

.header {
  padding: 18px 5% 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  min-height: 100px;
  width: 100%;  
  background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, #181A19 0%, #24282B 68.62%);
  box-shadow: $box-shadow;
  box-sizing: border-box;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 32px;
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .header {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .header {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .header {
    padding-bottom: 10px;
    min-height: 69px;
    margin-bottom: 10px;

    &__box {
      display: flex;
    }
  }
}