.header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, #181A19 0%, #24282B 68.62%);
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 18px 60px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (max-width: 1343px) {
  .header {
    margin: 0 5%;
  }
}
