@import '../../styles/variables.scss';

.genres {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;

    li {
      width: 100%;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    width: 100%;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    color: $color-white;
    height: 355px;
    border-radius: 6px;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.4s ease-in-out;
      box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.5);
    }

    &_type {
      &_one {
        max-width: 1343px;
        height: 446px;

        &:hover {
          transform: scale(1.01);
          transition: transform 0.4s ease-in-out;
        }
      }

      &_two {
        max-width: 657px;
        height: 448px;
      }

      &_three {
        max-width: 427px;
        height: 355px;
      }
    }
  }

  &__container-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__container-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    height: 100%;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .genres {
    &__box {
      height: 250px;

      &_type_one {
        height: 300px;
      }

      &_type_two {
        height: 300px;
      }

      &_type_three {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .genres {
    &__list {
      gap: 20px;
    }

    &__box {
      outline-offset: -10px;
      height: 200px;

      &_type_one {
        height: 250px;
      }

      &_type_two {
        height: 200px;
      }
    }

    &__container-two {
      gap: 20px;
    }

    &__container-three {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .genres {
    align-items: center;

    &__box {
      width: 290px;
      height: 155px;
      outline-offset: -5px;

      &_type_one:hover {
        transform: scale(1.05);
      }
    }

    &__container-two {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 20px;
    }

    &__container-three {
      grid-template-columns: 1fr;
    }
  }
}