@import '../../styles/variables.scss';

.description-item {
    display: grid;
    grid-template-columns: 270px 1fr;
    list-style: none;
    border-bottom: 1px solid $color-dark;
    min-height: 51px;

    &__heading {
        margin: 0 0 0 20px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }

    &__info {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

        &:last-child {
            border-bottom: none;
        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    .description-item {
        grid-template-columns: 1fr 1fr;

        &__heading {
            font-size: 14px;
            line-height: 16px;
            margin: 0;
        }

        &__info {
            font-size: 14px;
            line-height: 16px;
            margin: 0;
        }
    }
}