@import '../../styles/variables.scss';

.footer {
  width: 100%;
  padding: 32px 5% 0;
  display: flex;
  flex-direction: column;
  background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, rgba(24, 26, 25, 0.5) 0%, rgba(36, 40, 43, 0.5) 68.62%);
  box-shadow: 0px -7px 16px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);

  &__container {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-color;    
  }

  &__box-about {
    padding-left: 5%;
    margin-left: 5%;
    max-width: 900px;
    display: flex;
    flex-direction: column;   
    border-left: 1px solid $border-color;   
  }

  &__title {
    margin: 0;
  }

  &__about {
    margin: 15px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $colot-light-text;
  }

  &__box-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'info social politics';
    min-height: 80px;
    align-items: center;
  }

  &__info {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: $colot-light-text;    
    text-align: start;

    &_type_link {
      text-decoration-line: underline;
      text-align: end;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .footer {
    &__about {
      font-size: 12px;
    }

    &__info {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .footer {
    align-items: center;

    &__container {
      padding-bottom: 20px;
      margin-bottom: 10px;
      width: 100%;
      justify-content: center;
    }

    &__box-about {
      display: none;
    }

    &__info {
      text-align: center;
      grid-area: politics;
    }

    &__box-info {
      grid-template-columns: 1fr;
      grid-template-areas:
        'social '
        'politics'
        'info';
      min-height: 134px;
    }

    &__info_type_link {
      grid-area: info;
    }
  }
}