@import '../../styles/variables.scss';

.genre-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid $color-dark;
  border-radius: 6px;
  outline: solid 1px rgba(255, 255, 255, 0.2);
  outline-offset: -20px;

  &_bg {
    &_0 {
      background-image: url(../../images/genre-fighters.png);

      &:hover {
        transform: scale(1.01);
      }
    }

    &_1 {
      background-image: url(../../images/genre-military.png);
    }

    &_2 {
      background-image: url(../../images/genre-detectives.png);
    }

    &_3 {
      background-image: url(../../images/genre-childish.png);
    }

    &_4 {
      background-image: url(../../images/genre-dramas.png);
    }

    &_5 {
      background-image: url(../../images/genre-comedies.png);
    }

    &_6 {
      background-image: url(../../images/genre-crime.png);
    }

    &_7 {
      background-image: url(../../images/genre-melodramas.png);
    }

    &_8 {
      background-image: url(../../images/genre-thrillers.png);
    }

    &_9 {
      background-image: url(../../images/genre-horrors.png);
    }

    &_10 {
      background-image: url(../../images/genre-fantastic.png);
    }

    &_11 {
      background-image: url(../../images/genre-fantasy.png);
    }
  }

  &__title {
    margin: 0;
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    color: $color-white;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .genre-item {
    outline-offset: -10px;

    &__title {
      font-size: 18px;
      line-height: 20px;
    }
  }
}