@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);

#root {
  background-image: linear-gradient(rgba(24, 26, 25, 0.7), rgba(24, 26, 25, 0.5)),url(./image/bg.png);
  background-color: #181A19;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
}


